        .container {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1000px;
            height: 500px;
            transform: translate(-50%, -50%);
            border: 1px solid #aaa;
            cursor: crosshair;
            background-image: url(../img/bg.jpg);
            background-size: cover;
        }

        #frame {
            font-size: 24px;
            color: aquamarine;
        }
